<header
  class="bg-neutral-800 flex flex-col gap-1 md:gap-2 items-center justify-center p-4 md:p-8 md:rounded-t-3xl">
  <h1 class="font-bold md:text-4xl text-neutral-50 select-none">TaskTracker</h1>
  <h6 class="hidden md:block text-neutral-400 text-xs select-none">
    Full-Stack application written with PostgresSQL, Express, AngularJS, and
    NodeJS using TypseScript.
  </h6>
  <h6 class="md:hidden text-neutral-400 text-xs select-none">
    PostgresSQL • Express • AngularJS • NodeJS
  </h6>
</header>
